.welcome__header {
    display: grid;
    grid-template-columns: 1fr 682px;
}

.welcome__left-section {
    background-color:#384a97;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 44px;
        max-width: 400px;
        margin-bottom: 3rem;
    }
    p {
        font-size: 20px;
        margin-bottom: 3rem;
    } 
    button {

    }
}

.welcome__right-section {
    
}