// Fonts
@import url("https://web-assets-test/css/rcu-fonts-secure.css");

// Global app reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html {
  font-size: 62.5%; // 1rem = 10px
  background-color: #EAEAEA;
  height: 100vh;

  @include respond(tab-land) {
    font-size: 56.25%; // 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 8px
  }

  @include respond(phone) {
    font-size: 62.5%; // 8px
  }
}

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 1.45rem;
  @include respond(phone) {
    background-color: $color-white;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
}

.App-link {
  color: $primary-color;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  max-width: 10rem;
  padding: 1.2rem 2.4rem;
}

.wrapped-button {
  color: white;
  background-color: $secondary-color;
  border-radius: 4px;
  height: 4.2rem;
  // padding: 0 1rem;
  &:hover {
    transition-duration: .4s;
    color: $font-color;
    background-color: $secondary-color-hover;
  }
}
