.welcome__header {
    display: grid;
    grid-template-columns: 1fr 682px;
}

.welcome__left-section {
    h1 {
        font-size: 44px;
        max-width: 400px;
    }
    p {
        font-size: 20px;
    }
    button {
        background-color: var(--secondary-color);
        color: white;
    }
}

.welcome__right-section {
    
}